.gridpost {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 30vmax;  
    height: 30vmax; 
    margin: 1vmax;
    padding: 2vmax; 
    gap: 10%;
    /*overflow: hidden;*/ 
    border-left: 1.2vmax solid orange;
    border-right: 1.2vmax solid lightskyblue;
}

.gridpost-info-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    /*flex-flow: column;*/
    height: 3.5rem; /*same as pfp height*/
    /*justify-content: center;
    align-items: flex-start;*/
    /*flex-wrap: wrap;*/
    font-size: 1.4rem;
    font-weight: 600;
    gap: 2vmax;

    overflow: hidden;
    flex-shrink: 0;
}

/* this is not used anywhere

.gridpost-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
}*/

.gridpost-name {
    font-size: 1.4rem;
    font-weight: bold;
    flex-shrink: 2;
    flex-grow: 0;

    width: 100%;
    overflow: scroll;
}

/* Profile picture styling */
.gridpost-profile-pic {


    background-color: lightgray;
    border-radius: 50%;
    flex-shrink: 0; /* Prevents resizing */
    width: 3.5rem !important;
    height: 3.5rem !important;
     
}

.gridpost-time-stamp {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #878787;
    font-size: .9rem;
    font-weight: 400;

    /*align-self: flex-end;*/
}


.gridpost-content {
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 1.75rem; /*half profile-pic width*/
    overflow: scroll;
    text-overflow: ellipsis;
    flex-grow: 1; 
    text-align: left;
}

.buttons-gridpost{
    display: inline-flex;
    /*align-items: left;*/
    flex-direction: row;
    gap: 10%;
    margin-top: auto; 
    padding-top: 1vmin; 

    justify-content: flex-start;
    overflow: hidden;
    flex-shrink: 0;
}

/* Styling for buttons */
.like-button, .comment-button {
    display: inline-flex;
    align-items: start;
    gap: .5rem;
    font-weight: 500;
    color: #858585;
    cursor: pointer;
    /*padding-inline: 1.5rem;*/

    font-size: 1.1rem;
}

.heart:hover, .comment-button:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}