.outer-box {
    background-color: #7CA7E1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: max(50%, 350px);
    aspect-ratio: 16/9;
    position: fixed;
    /*flex-wrap: wrap;*/
}

#x {
    /*position: absolute;
    top: 0.8rem;
    right: 0.8rem;*/
    align-self: flex-start;
}

.text-box {
    width: 100%;
    height: 100%;
    /*aspect-ratio: 16/9;*/
    padding: 1%;
    /*border-radius: 0.8rem;*/
    resize: none;
    /*margin-right: 1rem;
    flex-grow: 2;*/
    flex-shrink: 2;
    margin-bottom: .8rem;
}

.inner-content-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 2.6rem 0 .8rem 2.6rem;
}

#text:focus {
    outline: none;
}

.create-post-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 6%;
    /*position: absolute;
    right: 9%;
    bottom: 2%;
    white-space: nowrap;*/
    
}