@import url("https://fonts.googleapis.com/css?family=Indie Flower");

body {
  background-color: #7CA7E1;
  background-image: url("https://images.pexels.com/photos/3804878/pexels-photo-3804878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}

.email-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}

.email-container input {
  width: 100%; /* Ensure the email input fills the width of its container */
  max-width: 100%; /* Prevent it from being too wide */
  height: 30px; /* Same height as other inputs */
  border-radius: 10px;
  padding-left: 10px; 
}

input {
  color: black;
}

input[type=submit]:hover {
  cursor: pointer;
}

.input-text {
  background-color: #D9D9D9;
  color: black;
  display: block; 
  margin: 0 auto;
  text-align: center;
}

.input-row {
  display: flex;
  gap: 1rem;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  margin-bottom: 5%;
}

.sign-up-background {
  background-image: url(../images/pusheen-background-upscaled.png);
  background-size: "cover";
  background-repeat: "repeat";
  background-position: "center";
  min-height: "100vh"
}

.sign-up-button {
  background-color: #D9D9D9;
  color: #202020;
  margin: 3% auto;
  border-radius: 1rem;
  width: 70%;
  padding: 1%;
  font-size: .9rem;
}

.sign-up-button {
  background-color: #D9D9D9;
  color: #202020;
  margin: 6% auto;
  border-radius: 1rem;
  width: 70%;
  padding: 1%;
  font-size: .9rem;
  transition: background-color 0.3s ease;
}

.sign-up-button:hover {
  background-color: #52a6ff;
  color: #FFFFFF;
}

.sign-up-citrus-vine-logo {
  position: center;
  width: 150px;
}



.sign-up-field-container {
  margin-left: 25%; 
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.sign-up-input {
  font-size: inherit;
  padding: .5rem 1rem;
  border-radius: 1.5em;
  width: 100%;
}
.sign-up-input-filled {
  color: rgb(87, 87, 87);
  font-size: inherit;
  padding: .5rem 1rem;
  border-radius: 1.5em;
  width: 100%;
}

.input-field {
  box-sizing: border-box;
  margin: 2%;
  width: max(40%, 200px);
}


.sign-up-form, #alt-sign-in {
  display: flex;
  flex-direction: column;
  width: max(25%, 350px);
  margin: 0 auto;
  padding: 3%;
}

.sign-up-text {
  color:black;
}

.sign-up-title {
  display: block;
  font-size: 3rem;
  font-family: 'Indie Flower';
  text-align: center;
  margin-top: 1%;
  color: white;
  pointer-events: none;
  user-select: none;
}

.citrus-vine-title {
  display: block;
  font-size: 6rem;
  font-family: 'Indie Flower';
  text-align: center;
  margin-top: 6%;
  color: white;
  pointer-events: none;
  user-select: none;
}

.title-container {
  padding-top: 5%;
  margin-top: 0%;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}