@import url("https://fonts.googleapis.com/css?family=Indie Flower");

.sign-up-title {
  display: block;
  font-size: 5rem;
  font-family: 'Indie Flower';
  text-align: center;
  margin-top: 1%;
  color: white;
  pointer-events: none;
  user-select: none;
}
.sign-up-citrus-vine-logo {
  position: center;
  margin: 0 auto;
  width: max(8vw, 75px);
}

/*.sign-up-title-container {
  padding-top: 5%;
  margin-top: 0%;
  margin-left: 0%;

  display: flex;
  flex-direction: column;
  align-items: center;
}*/

#sign-up-background {
  /* background-image: url(../images/pusheen-background-upscaled.png); */
  background-color: #7CA7E1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  /* background-position: center; */
  /* min-height: "100vh"; */
}

.sign-up-text {
  color:white;
  font-weight: bold;
}



.sign-up-field-container {
  margin: 0 25%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.2rem;
}

/*.input-field:last-of-type {
  width: 100%;
}*/

.sign-up-input {
  font-size: inherit;
  padding: .5rem 1rem;
  border-radius: 1.5em;
  width: 100%;
}
.sign-up-input-filled {
  color: rgb(87, 87, 87);
  font-size: inherit;
  padding: .5rem 1rem;
  border-radius: 1.5em;
  width: 100%;
}

.input-field {
  box-sizing: border-box;
  margin: 2%;
  width: max(40%, 200px);
}

.sign-up-button {
  font-size: 1.4rem;
  color: rgb(87, 87, 87);
  border-radius: 1.5em; 
  
  font-family: "IndieFlower";
  font-weight: bold;

  background-color: white;
  padding: .5em 1em;
}
.sign-up-button-container {
  margin: 2rem .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
