.posts #first-post {

}




/* Sign Up */
.sign-up-title {
  top: 30px;
  position: relative;
  font-size: 100px;
  margin-left: 35%;
}
.input-field {
  position: relative;
  top: 200px;
  left: 200px;
  color:grey;
}