.posts #first-post {

}




/* Sign Up */
.sign-up-title {
  top: 30px;
  position: relative;
  font-size: 100px;
  margin-left: 37%;
}
.first-name-field {
  position: relative;
  top: 150px;
  margin-left: 25%;
  color:grey;
}
.last-name-field {
  position: relative;
  top: 150px;
  left: 250px;
  margin-right: 25%;
  color:grey;
}
.user-name-field {
  position: relative;
  top: 250px;
  margin-left: 25%;
  color:grey;
}
.password-field {
  position: relative;
  top: 250px;
  left: 250px;
  margin-right: 25%;
  color:grey;
}
.email-field {
  position: relative;
  top: 350px;
  margin-left: 25%;
  width: 650px;
}
.citrus-logo {
  position: relative;
  top: 80px;
  margin-left: 42%;
  width: 150px;
}


.input-field {
  position: relative;
  top: 200px;
  left: 200px;
  color:grey;
}